.hidden {
  display: none;
}

.fa-ban{
  padding: 2px;
}

.logo-img {
  width: 220px;
}

.faq-card-body{
  border-left: 2px solid rgba(0, 0, 0, 0.07);
  border-bottom: 2px solid rgba(0, 0, 0, 0.07);
  border-right: 2px solid rgba(0, 0, 0, 0.07);
}

.nk-menu {
  background: #101924;
}

.choose-error{
  color: #dc3545;
  font-size: 13px;
}

.package-index-amount{
  font-weight: normal;
}