.hidden {
  display: none;
}

.fa-ban{
  padding: 2px;
}

.logo-img {
  width: 220px;
}

.faq-card-body{
  border-left: 2px solid rgba(0, 0, 0, 0.07);
  border-bottom: 2px solid rgba(0, 0, 0, 0.07);
  border-right: 2px solid rgba(0, 0, 0, 0.07);
}

.nk-menu {
  background: #101924;
}

.choose-error{
  color: #dc3545;
  font-size: 13px;
}

.package-index-amount{
  font-weight: normal;
}

.dashboard-image{
  margin-bottom: 20px;
  border-radius: 5px;
}

.notification-count{
  position: absolute;
  top: 4px;
  right: 1px;
  width: 15px;
  height: 15px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  z-index: 3;
}