@layout('templates.index')
@section('title')
  Our Company
@endsection 
@section('content')

  <!--HEADER-->
  <div class="container-fluid pt-4 company"></div>
  <!--/HEADER-->
  <div class="container my-5">
    <div class="row">
      <!-- <div class="col-md-5">
        <h1 class="super-title tsc"><b>About Us</b></h1>
        <h3>Who we are</h3>
      </div> -->
      <div class="col-md-12 text-justify">
        <h3 class="tsc"><b>Who We Are</b></h3> <hr>
        <h5>LandCrowdy is an application that is digitalizing the Nigerian housing industry by allowing more Nigerians
          participate in the subsector through their investments. It allows individual earn more money outside their
          paid employment while creating jobs and providing finance for building contractors, artisans and realtors. The
          individuals can choose any plan of their choice on our platform to invest by making payments on our payment
          platform provided by the app.</h5> <br> <br>
        <h3 class="tsc text-right"><b>What Inspired Us!</b></h3> <hr>
        <h5 >Imagine a society where no one has to be homeless and everyone gets to have a roof over their heads and beds to return to after a busy day? <br> <br>
          Sounds surreal? Well, at Landcrowdy, we believe it is very possible, and already, we are making this dream a reality! <br> <br>
          By empowering building contractors, artisans and realtors, we create an enabling environment for individuals to find affordable but top quality homes. All this is through our platform which serves as a meeting ground for potential home owners like you who get connected to assets within your desired range of budget and invest accordingly. <br> <br>
          You might wonder, how does this exactly work? Well, it’s simple. We are backed by a group of investors (of which you can choose to become one). These investors make provisions for highly experienced contractors to erect quality properties and then through our platform, you get to make your choice of whichever property or asset suits your taste. <br> <br>
          In the end, our investors, contractors and you benefit while everyone goes home with smiles on their faces. <br> <br>
          With very flexible packages and plans, you can become a proud asset owner in no time! And what is even more amazing is that you do not necessarily need to have any prior knowledge on real estate! It’s simple, straightforward and even mobile friendly, thanks to our mobile app! <br> <br>
          So when next you hear someone say to you that your dream of moving into your new home would soon become a reality, I trust that you can smile with understanding, knowing that LandCrowdy has your back on this! <br> <br>
          
          Visit landcrowdy.com.ng to get started and select from any of our flexible packages that suits your perfectly as we begin the countdown to your owning your own property! <br> <br>
          </h5>
      </div>
    </div>
  </div>

  <!-- Card deck -->
  <div class="container-fluid bg-company">


      <div class="col-md-12 text-center">
          <h2 class="text-white"><b>How We Get It Done</b></h2>
          <div class="bd mb-3"></div>
        </div>

    <div class="card-deck">

      <!-- Card -->
      <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="/assets/images/media/team.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">Our Team</h4>
          <!--Text-->
          <p class="card-text">These are individuals with astonishing diversity of skills and experiences, bringing their unique talents to LandCrowdy every day.</p>
          <a href="team.html"><button class="btn btn-md tnav2" type="button"><b>Read more</b></button></a>
        </div>

      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="/assets/images/media/process.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">Our Process</h4>
          <!--Text-->
          <p class="card-text">With our innocative approach to real estate and development, we work together to help solve the problem of shelter while providing dividends to investors.</p>
          <a href="#"><button class="btn btn-md tnav2" type="button"><b>Read more</b></button></a>

        </div>

      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="/assets/images/media/property.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">Our Properties</h4>
          <!--Text-->
          <p class="card-text">Our affordable properties are thoughtfully designed/carefully managed.  We currently manage 50 units of housing in 4 diverse neighborhoods in Lagos.</p>
          <a href="#"><button class="btn btn-md tnav2" type="button"><b>Read more</b></button></a>

        </div>

      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="/assets/images/media/news.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">Media & Awards</h4>
          <!--Text-->
          <p class="card-text">We've had several publications on both print and online media of our innovative approach to property development and also recognized for several awards</p>
          <a href="#"><button class="btn btn-md tnav2" type="button"><b>Read more</b></button></a>

        </div>

      </div>
      <!-- Card -->
    </div>
  </div>
  <!-- Card deck -->

  <!--MileStones-->
  <div class="container-fluid bg-mile">
    <div class="row text text-center">
      <div class="col-md-3 border-right">
        <h5> <i class="fa fa-building-o fa-3x text-white" aria-hidden="true"></i> <span class="">
          </span><br> <span class="text-white">12 Properties</span> </h5>
      </div>
      <div class="col-md-3 border-right">
        <h5> <i class="fa fa-users fa-3x text-white" aria-hidden="true"></i> <span class="">
          </span><br> <span class="text-white">50 Subscribers</span> </h5>
      </div>
      <div class="col-md-3 border-right">
        <h5> <i class="fa fa-globe fa-3x  text-white" aria-hidden="true"></i> <span class="">
          </span><br> <span class="text-white"> 3 Countries</span> </h5>
      </div>
      <div class="col-md-3 ">
        <h5> <i class="fa fa-space-shuttle fa-3x  text-white" aria-hidden="true"></i> <span class="">
          </span><br> <span class="text-white">Founded 2019</span> </h5>
      </div>
    </div>
  </div>
  <!--/MileStones-->



  <!--Features-->
  <div class="container-fluid bg-success">
    <div class="row">
      <div class="col-md-4">
        <h1 class="p-5 m-5 text-white text-"><b>Why <br> LandCrowdy?</b></h1>
      </div>
      <div class="col-md-8 ">
        <!-- Card deck -->
        <div class="card-deck mt-5 mr-5 text-left">

          <!-- Card 1-->
          <div class="card mb-4 why">
            <div class="card-body why">
              <h6><img src="image/icons/vision.png" alt="" class="img-fluid text-center " width="50"> <b>We've A
                  Vision</b></h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Ut enim ad minim
                veniam</p>
              <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i>
            </div>
          </div>
          <!-- /Card 1-->

          <!-- Card -->
          <!-- Card 1-->
          <div class="card mb-4 why">
            <div class="card-body why">
              <h6><img src="image/icons/mission.png" alt="" class="img-fluid text-center" width="50"> <b>We've
                  A Mission</b></h6>
              <p class="card-text">Our mission is to end the problem of shelter in Nigeria, one building at a time</p>
              <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i>
            </div>
          </div>
          <!-- /Card 2-->

          <!-- Card 3-->
          <div class="card mb-4 why">
            <div class="card-body why">
              <h6><img src="image/icons/value.png" alt="" class="img-fluid text-center " width="50"> <b>We've Core
                  Values
                </b></h6>
              <ul>
                <li>Quality</li>
                <li>Integrity</li>
                <li>Accountability</li>
                <li>Innovation</li>
              </ul>
              <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i>
            </div>
          </div>
          <!-- /Card 3-->
          <!-- Card -->

        </div>
        <!-- Card deck -->
      </div>
    </div>
  </div>
  <!--/.Features-->

  <!--VIDEO ABOUT US-->
  <div class="container">
    <div class="row my-5">
      <div class="col-md-6 data-anima=">
        <div>
          <img src="/assets/images/vid3.jpg" class="img-fluid " alt="smaple image">
          <div class="carousel-caption">

            <a href="#"> <i class="fa fa-play fa-5x text-white p-5 m-4" data-toggle="modal" data-target="#modalYT"
                aria-hidden="true"></i></a>
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalYT">Launch modal</button> -->
           
          </div>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <h2 class="tsc"><b>How It Works</b></h2>
        <h1 class="text-success"><b>Connecting People To Assets</b></h1>
        <h5> We are on a mission to end the problem of shelter in Nigeria, one building at a time. We do this by
          creating an online platform for “everyday people'', to engage in the real estate value chain by building
          affordable homes in urban communities. </h5>
        <a class="btn wrp2 waves-effect text-white mt-1" href="https://www.youtube.com/watch?v=ZesQ_8K5I_g" target="_blank" role="button"><b>Watch Video</b></a>
      </div>
    </div>
  </div>
  <!--/VIDEO ABOUT US-->

  @endsection 
