<div class="ccw_plugin chatbot" style="bottom:10px; left:10px;">
    <!-- style 9  logo -->
    <div class="ccw_style9 animated no-animation ccw-no-hover-an">
        <a target="_blank" href="https://web.whatsapp.com/send?phone=+2348117758384&text=Welcome. Enter your message to begin chat." class="img-icon-a nofocus">
            <img class="img-icon ccw-analytics" id="style-9" data-ccw="style-9" style="height: 48px;" src="/assets/images/whatsapp-icon-square.svg" alt="WhatsApp chat">
        </a>
    </div>
  </div>