<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
  <title>{{ siteTitle() }} -
    @!section('title')
  </title>
  <meta content="Admin Dashboard"
    name="description">
  <meta content="Themesbrand" name="author">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="wrapper-page">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center m-0"><a href="/" class="logo logo-admin"><img src="/assets/images/logo.png" height="30" alt="logo"></a></h3>
        <h4 class="text-muted font-18 m-b-5 text-center">
          @!section('title')
        </h4>

          @!section('content')
      </div>
    </div>
  </div>
</body>
</html>
