<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
  <title>
    {{ siteTitle() }} -
    @!section('title')
  </title>
  <meta content="Admin Dashboard" name="description">
  <meta content="Themesbrand" name="author">
  <link rel="shortcut icon" href="/assets/images/favicon.ico?hello=1">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/icons.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- Begin page -->
  <div id="wrapper">
    <!-- Top Bar Start -->
    <div class="topbar">
      <!-- LOGO -->
      <div class="topbar-left"><a href="/" class="logo"><span><img src="/assets/images/logo-light.png" alt=""
              height="50"> </span><i><img src="/assets/images/logo-sm.png" alt="" height="50"></i></a></div>
      <nav class="navbar-custom">
        <ul class="navbar-right d-flex list-inline float-right mb-0">
          <li class="dropdown notification-list">
            <div class="dropdown notification-list nav-pro-img"><a class="dropdown-toggle nav-link arrow-none waves-effect nav-user"
                data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">{{ auth.user.getFullName() }}</a>
              <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="{{ route('logout') }}"><i class="mdi mdi-power text-danger"></i>
                  Logout</a>
              </div>
            </div>
          </li>
        </ul>
        <ul class="list-inline menu-left mb-0">
          <li class="float-left"><button class="button-menu-mobile open-left waves-effect"><i class="mdi mdi-menu"></i></button></li>
        </ul>
      </nav>
    </div><!-- Top Bar End -->
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
      <div class="slimscroll-menu" id="remove-scroll">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
          <!-- Left Menu Start -->
      
          @if(auth.user.isUser()) 
          @include('includes.app_navigation') 
         @else 
          @include('includes.admin_navigation')
         @endif

        </div><!-- Sidebar -->
        <div class="clearfix"></div>
      </div><!-- Sidebar -left -->
    </div><!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
      <!-- Start content -->
      <div class="content">
        <div class="container-fluid">
            @include('includes.alert')
            @!section('content')
        </div><!-- container-fluid -->
      </div><!-- content -->
      <!-- <footer class="footer">Copyright © {{ currentYear() }} - {{ siteTitle() }} - <span class="d-none d-sm-inline-block">Crafted by </span>  <a href="https://fuzzy-hunter.herokuapp.com/" target="_blank">Fuzzy Hunter</a>.</footer> -->
    </div><!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
  </div><!-- END wrapper -->
  <!-- jQuery  -->
  <script src="/assets/js/jquery-1.12.4.min.js"></script>
  @if(auth.user.isUser()) 
  <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/58d8e2a3f97dd14875f5a4cd/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
  </script>
  @endif
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/metisMenu.min.js"></script>
  <script src="/assets/js/jquery.slimscroll.js"></script>
  <script src="/assets/js/waves.min.js"></script>
  @!section('scripts')
  <script src="/assets/js/app.js"></script>
  <script src="/assets/js/custom.js"></script>
</body>

</html>
